In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dados/movies.csv')
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
df2 = pd.read_csv('dados/ratings.csv')
df2.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

notas1 := notas do filme Toy Story
notas_media := medias de todos os filmes c/ pelo menos 10 votos

In [4]:
selecao = df2['movieId'] == 1
notas1 = df2[selecao]['rating']
notas1.reset_index(drop=True, inplace=True)
notas1

0      4.0
1      4.0
2      4.5
3      2.5
4      4.5
      ...
210    2.5
211    4.0
212    2.5
213    3.0
214    5.0
Name: rating, Length: 215, dtype: float64

In [5]:
movieId_10_notas = df2.groupby(['movieId']).count().query('rating >= 10')
movieId_10_notas = movieId_10_notas.index
movieId_10_notas

Int64Index([     1,      2,      3,      5,      6,      7,      9,     10,
                11,     12,
            ...
            166461, 166528, 166643, 168250, 168252, 174055, 176371, 177765,
            179819, 187593],
           dtype='int64', name='movieId', length=2269)

In [6]:
notas_medias =  df2.groupby(by=['movieId']).mean()
notas_medias = notas_medias.loc[movieId_10_notas]['rating']
notas_medias.mean()

3.4320503405352594